<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system"
          package="com.cyanogenmod.settings.device"
          android:versionCode="5"
          android:versionName="2.3" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="cyanogenmod.permission.HARDWARE_ABSTRACTION_ACCESS" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-sdk
            android:minSdkVersion="18"
            android:targetSdkVersion="21" />

    <application
        android:icon="@mipmap/ic_launcher_settings"
        android:label="@string/app_name"
        android:theme="@style/Theme.Main">

        <!-- stub to ensure its loaded - DO NOT REMOVE -->
        <activity android:name=".KeyHandler"/>

        <service android:name=".OclickService" />
        <activity
            android:name=".BluetoothInputSettings"
            android:launchMode="singleTop"
            android:label="@string/oclick_panel_title">
          <intent-filter>
                <action android:name="com.cyanogenmod.action.LAUNCH_BLUETOOTH_INPUT_SETTINGS" />
          </intent-filter>
          <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/oclick_panel_title"/>
        </activity>

        <activity
            android:name=".TouchscreenGestureSettings"
            android:label="@string/screen_gestures_panel_title">
          <intent-filter>
                <action android:name="com.cyanogenmod.action.LAUNCH_TOUCHSCREEN_GESTURE_SETTINGS" />
          </intent-filter>
          <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/screen_gestures_panel_title"/>
        </activity>

        <activity
            android:name=".GesturePadSettings"
            android:label="@string/backpad_panel_title">
          <intent-filter>
                <action android:name="com.cyanogenmod.action.LAUNCH_GESTURE_PAD_SETTINGS" />
          </intent-filter>
          <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/backpad_panel_title"/>
        </activity>

        <receiver
            android:name=".Startup"
            android:permission="org.namelessrom.device.extra.CONTROL">
          <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="cyanogenmod.intent.action.GESTURE_CAMERA" />
                <action android:name="org.namelessrom.device.extra.ACTION_CONTROL" />
                <action android:name="cyanogenmod.intent.action.INITIALIZE_CM_HARDWARE" />
          </intent-filter>
        </receiver>
    </application>

</manifest>
